@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color:aquamarine;
  font-family: 'Nanum Gothic Coding', monospace;
  color: darkslategrey;
}

.name__title{
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: 1.5rem;
  background-color: antiquewhite;
  color: darkslategrey;
}

.page__nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 2rem;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  border-bottom: solid 0.5rem antiquewhite;
  padding-bottom: 1rem;
  color: darkslategrey;
}



@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

.floating__pics{
  display: grid;
  grid-template-columns: 1fr;
  opacity: 0.3;
  animation: moveImage 40s infinite;
}

.floating__welcome{
  font-size: 1rem;
}

.hobbies{
  text-align: center;
  background-color: pink;
  padding: 2rem;
  margin: 2rem;
  border: solid 0.5rem antiquewhite;
  border-radius: 1rem;
}

.hobbies >p{
  padding: 1rem;
  font-family: 'Nanum Gothic Coding', monospace;
}

.intro__text{
  font-family: 'Nanum Gothic Coding', monospace;
  margin-inline: 8rem;
  color: darkslategrey;
}

.cheering__woman{
  opacity: 0.5;
  margin: 2rem;
  position: absolute;
  left: 80%;
}

.durham__pic{
  opacity: 0.5;
  margin: 2rem;
  position: absolute;
  left: 30%;
  border-radius: 1rem;
}