@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Nanum Gothic Coding', monospace;
  background-color: #a7f3d0;
  color: darkslategrey;
}

.name__title{
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
  padding-left: 1rem;
  background-color: white;
  color: darkslategrey;
}

.page__nav_top, .page__nav_bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 2rem;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;

  padding-bottom: 1rem;
  color: darkslategrey;
  gap: 1rem;
}



@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

.floating__pics{
  opacity: 0.2;
  animation: moveImage 40s infinite;
}

.floating__welcome{
  font-size: 1rem;
}

.hobbies{
  text-align: left;
  background-color: white;
  padding: 2rem;
  margin: 3rem;
  border-radius: 1rem;
}

.hobbies >p{
  padding: 1rem;
  font-family: 'Nanum Gothic Coding', monospace;
}


.durham__pic{
  opacity: 0.5;
  margin: 2rem;
  position: absolute;
  left: 30%;
  border-radius: 1rem;
}